@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.generateIdeasWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 1700px;
}

.generateIdeasForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.generateIdeasInput {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.generateIdeasButton {
  font-family: Inter;
  width: 10rem;
  height: 3rem;
  border-radius: 6.25rem;
  border: none;
  cursor: pointer;
  color: grey;
}

.dataContainer {
  max-width: 1200px;
}
